body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", helvetica, sans-serif;
	background-color: #c9c7c0;
}

.fr_loading {
	visibility: hidden;
}

/* UNIVERSAL STYLES */

a:focus {
	outline: 0;
}


a img {
	border: 0;
}

h1 {
	font-size: 21px;
	font-weight: normal;
	text-transform: uppercase;
	color: #191817;
	margin: 0 0 20px 0;
	padding: 0;
}

h2 {
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #554f4d;
	margin: 25px 0 5px 0;
	padding: 0;
}

h3 {
	font-size: 14px;
	font-weight: bold;
	color: #448db2;
	margin: 0;
	padding: 0;
}

hr {
	border: none;
	height: 1px;
	background-color: #a8a6a0;
}

.container {
	width: 760px;
	padding: 0 5px;
	margin: 0 auto;
}

.left {
	float: left;
}

a.btn-learnmore {
	display: block;
	width: 93px;
	height: 26px;
	text-indent: -9999px;
	background: transparent url(../images/btn-learnmore.png) no-repeat left top;
}

ul {
	overflow: auto;
	margin: 0;
	padding: 0;
}

li {
	padding: 1px 20px;
	margin: 16px 0 16px 10px;
	font-size: 12px;
	color: #333;
	list-style-type: none;
	background: transparent url(../images/bullet.png) no-repeat left top;
}

ul.plain li {
	padding: 0;
	background: none;
}

/* HEADER STYLES */

.header {
	height: 88px;
	min-width: 770px;
	padding-top: 53px;
	background: #0d0c0c url(../images/top-bg.jpg) no-repeat center top;
}

.header h1 {
	margin: 0;
	padding: 0;
	text-indent: -9999px;
}

.logo a {
	float: left;
	width: 232px;
	height: 44px;
	background: transparent url(../images/logo.png) no-repeat left top;
}

.header ul {
	overflow: hidden;
	float: right;
	margin: 60px 0 0 0;
	padding: 0;
}

.header li {
	padding: 0;
	margin: 0;
	float: left;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
	background: none;
}

.header li a {
	float: left;
	color: #a5a5a5;
	text-decoration: none;
	width: 106px;
	height: 20px;
	margin: 0 0 0 2px;
	padding: 8px 0 0 0;
	background: transparent url(../images/nav-bg.png) no-repeat left top;
}

.header li.active a, .header li a:hover {
	color: #fff;
	background-position: right top;
}

/* MIDDLE STYLES */

.middle {
	padding: 13px 0;
	min-width: 770px;
	background-color: #191817;
}

#index-middle {
	min-height: 222px;
	background: #191817 url(../images/middle-bg.png) repeat-x left bottom;
}

.middle .intro {
	padding-top: 20px;
	width: 330px;
	margin-right: 37px;
}

.middle .intro {
	float: none;
	padding-top: 20px;
	width: 330px;
	margin-right: 37px;
}


.middle h1 {
	color: #c16b52;
	text-shadow: #191817 0 0 0;
	margin: 0 0 10px 0;
}

.middle p {
	font-size: 12px;
	line-height: 1.4em;
	color: #969696;
	text-shadow: #191817 0 0 0;
	margin: 18px 0 25px 0;
}

.middle a.btn-learnmore {
	width: 93px;
	height: 26px;
	background: transparent url(../images/btn-learnmore-blk.png) no-repeat left top;
}

.middle .mid-image {
	float: right;
}


.middle .mid-image img {
	border: 5px solid #262626;
}

/* SIDEBAR STYLES */

.sidebar {
	float: left;
	width: 170px;
	padding: 0 26px 13px 26px;
	margin: 0 30px 25px 0;
	background-color: #bbb9b2;
	border: 1px solid #a8a6a0;
}

.sidebar li {
	margin: 6px 0;
}

.sidebar p {
	color: #6a6a6a;
	font-size: 12px;
	line-height: 1.4em;
	margin: 5px 0 10px 0;
}

.sidebar .btn-learnmore {
	margin-bottom: 30px;
}

.sidebar a {
	color: #a2492f;
}

.sidebar a:hover {
	text-decoration: none;
}

.sidebar form {	
	float: left;
	margin: 20px 0;
	border: 1px solid #a8a6a0;
	background-color: #fff;
	padding: 4px;
}

.sidebar #searchfield {
	float: left;
	margin: 0;
	padding: 2px 0 0 4px;
	width: 140px;
	height: 14px;
	font-size: 10px;
	color: #7e7975;
	border: none;
}

.sidebar #submitbtn {
	float: right;
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	border: none;
	background: transparent url(../images/btn-go.png) no-repeat left top;
}

/* CONTENT STYLES */

.content-holder {
	padding: 25px 0;
	min-width: 770px;
	min-height: 228px;
	background: #c9c7c0 url(../images/content-bg.png) repeat-x left top;
}

.content {
	float: right;
	width: 499px;
	padding: 10px 0 5px 0;
}

.content p {
	color: #666666;
	margin-top: 3px;
	font-size: 12px;
	line-height: 1.4em;
}

.content p a {
	color: #a2492f;
}

.content p a:hover {
	text-decoration: none;
}

/* ABOUT STYLES */

.team-item {
	margin-bottom: 40px;
}

.team-item img {
	float: left;
	margin-right: 15px;
	border: 5px solid #a4a29c;
}

.team-item h3 {
	padding-top: 5px;
}

/* BLOG STYLES */

.fr_search_results_holder, .fr_search_error_holder, .fr_search_loading {
	display: none;
}

.fr_search_results_holder p, .fr_search_error_holder p {
	float: right;
}

.fr_search_results_holder .query {
	color: #666666;
	margin-bottom: 20px;
	font-size: 12px;
}

.blog-item {
	padding: 0 0 30px 0;
	margin-bottom: 30px;
	border-bottom: 1px solid #a8a6a0;
}

.blog-item h3, .blog-item h3 a, .fr_search_results_holder h3, .fr_search_results_holder h3 a {
	float: left;
	margin-right: 10px;
	padding-top: 0;
	padding-bottom: 2px;
	color: #151414;
	text-decoration: none;
}

.blog-item h3 a:hover, .fr_search_results_holder h3 a:hover {
	color: #666666;
}

.fr_search_results_holder h3, .fr_search_results_holder h3 a {
	float: none;
	display: block;
}

.blog-content {
	padding-top: 5px;
}

.blog-content {
	color: #666666;
	font-size: 12px;
	line-height: 1.4em;
}

.blog-content a {
	color: #a2492f;
}

.blog-content a:hover {
	text-decoration: none;
}

.blog-comment {
	float: left;
}

.comment-info {
	float: left;
	width: 19px;
	height: 18px;
	background: transparent url(../images/comment-bubble.png) no-repeat left top;
}

.comment-number {
	float: left;
	text-align: right;
	padding: 2px 6px 0 1px;
	font-size: 10px;
	color: #d5d4ce;
	height: 16px;
	background: transparent url(../images/comment-bubble-bg.png) no-repeat right top;
}

.blog-comment a {
	text-transform: lowercase;
	text-decoration: none;
}

.blog-comment a:hover .comment-number {
	color: #fff;
}

.blog-info {
	clear: left;
	padding-top: 7px;
	margin: 0 0 18px 0;
	color: #716c68;
	font-size: 10px;
}

.blog-info span {
	margin-right: 35px;
}

.comments {
	margin-top: 20px;
}

.comment-item {
	margin-top: 30px;
}

.comment-content {
	padding: 9px 10px 5px 10px;
	font-size: 11px;
	color: #666666;
	line-height: 1.5em;
	background: #fff url(../images/cmnt-bubble-top.png) no-repeat left top;
}

.comment-bubble-bottom {
	height: 19px;
	background: #fff url(../images/cmnt-bubble-bottom.png) no-repeat left top;
}

.comment-date {
	text-align: right;
	margin: 2px 17px 0 0;
	font-size: 11px;
	color: #6e6965;
}
.comment-date b {
	color: #554f4d;
}

.blog-item form {
	margin-top: 40px;
	padding-top: 30px;
	color: #666;
	font-size: 12px;
	border-top: 1px solid #a8a6a0;
}

.blog-item form fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

.blog-item form input[type=submit] {
	margin: 25px 0 15px 0;
}

.blog-item form .captcha-image img {
	display: block;
	border: 1px solid #aaa;
}

.blog-item form input[type=text], .blog-item form textarea {
	display: block;
	margin: 5px 0 15px 0;
	padding: 4px 0 0 4px;
	width: 500px;
	height: 18px;
	font-size: 11px;
	color: #7e7975;
	border: 1px solid #aaa;
	font-family: "Helvetica Neue", helvetica, sans-serif;
}

.blog-item form textarea {
	height: 100px;
}

/* FOOTER */

.footer {
	clear: left;
	font-size: 10px;
	color: #777;
	width: 760px;
	padding-bottom: 20px;
}

.footer a {
	text-decoration: none;
	color: #3a3837;
}

.footer a:hover {
	text-decoration: underline;
}

