<aside class="primary">
  <section class="album">
    <h2>Available Now!</h2>
    <img src="{{ theme:img src="album/WhateverItTakes.jpg"}}" class="album-cover"/>
    <p>"Whatever It Takes" featuring The Drill and Naive, now available everywhere!</p>
    <a href="https://itunes.apple.com/album/whatever-it-takes/id649671427" class="btn">BUY Now</a>
    <!--<section>
      <h3>Digital Only <span class="price">$8</span></h3>
      <p>Digital download of 'Whatever It Takes'.</p>
      <a href="http://gum.co/whatever-it-takes" class="btn">Buy The Album</a>
    </section>

    <section>
      <h3>CD Bundle <span class="price">$30</span></h3>
      <p>'Whatever It Takes' CD &amp; Limited Edition T-Shirt, plus Digital download.</p>
     <a href="http://gum.co/whatever-bundle" class="btn">Buy The Bundle</a>
    </section>-->
  </section>

  <section>
    <h2>Listen</h2>
    <iframe width="100%" height="380" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2807651&amp;color=a02328&amp;auto_play=false&amp;show_artwork=false"></iframe>
  </section>

  <section class="stay-connected">
    <h2>Stay Connected</h2>
    <div class="social">
      <a href="http://www.facebook.com/magnusrisingband" class="ss-icon ss-social-circle facebook">Facebook</a>
      <a href="http://twitter.com/magnusrising" class="ss-icon ss-social-circle twitter">Twitter</a>
      <a href="http://www.youtube.com/magnusrising" class="ss-icon ss-social-circle youtube">Youtube</a>
      <a href="http://soundcloud.com/magnus-rising" class="ss-icon ss-social-circle soundcloud">Soundcloud</a>
      <a href="https://itunes.apple.com/ie/artist/magnus-rising/id272325304" class="ss-icon ss-social-circle apple">Apple</a>
      <a href="http://www.rdio.com/artist/Magnus_Rising" class="ss-icon ss-social-circle rdio">Rdio</a>
      <a href="http://open.spotify.com/artist/06gKbaDZrpaQkoNH0dg9C2" class="ss-icon ss-social-circle spotify">Spotify</a>
      <a href="http://www.last.fm/music/Magnus+Rising" class="ss-icon ss-social-circle lastfm">Lastfm</a>
    </div>

    <section class="mailbox">
      <h3>Join the Magnus Family</h3>
      <form action="https://tinyletter.com/magnusrising" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/magnusrising', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <p>Stay up to date with the latest news!</p>
        
        <div class="input-with-button">
          <input type="text" name="email" id="tlemail" placeholder="you@email.com" />
          <input type="hidden" value="1" name="embed"/>
          <button type="submit" onclick="ga('send', 'event', 'Joined Mailing List');">Join</button>
        </div>
      </form>
    </section>

  </section>


  <!--<section>
    {{ flickr:sidebar key="{{flickr_api_key}}" user="{{flickr_api_user}}" name="{{flickr_api_user_name}}" count="{{flickr_api_count}}" }}
  </section>-->
</aside>