body {
	margin: 0;
	font-size: 14px;
	font-family: "Helvetica Neue", helvetica, sans-serif;
	color: rgb(45,45,45);
	background: #000 url(../images/install-bg.jpg) no-repeat center top;
	}

a {
	color: #333;
	text-decoration: underline;
	}

a:hover {
	text-decoration: none;
	}

a:focus {
	border: 0;
	outline: 0;
	}

a img {
	border: 0;
	}

hr {
	border: 0;
	height: 1px;
	padding: 0;
	}	

h3 {
	font-size: 16px;
	color: #333;
	padding: 0 0 2px 0;
	text-align: center;
	margin: 0 auto;
	font-weight: normal;
	}	

p {
	font-size: 12px;
	color: #898989;
	text-align: center;
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 10px;
	}

input.btn-next, input.btn-back {
	float: right;
	border: 0;
	line-height: 0;
	margin-top: 15px;
	text-indent: -9999px;
	width: 94px;
	height: 22px;
	background: transparent url(../images/btn-next.png) no-repeat top left;
	cursor: pointer;
	}

input.btn-back {
	float: left;
	background: transparent url(../images/btn-back.png) no-repeat top left;
	}

a.btn-installnow {
	display: block;
	text-indent: -9999px;
	margin-top: 110px;
	margin-left: -1px;
	width: 376px;
	height: 142px;
	background: transparent url(../images/btn-installnow.jpg) no-repeat top left;
	}

a:hover.btn-installnow {
	background-position: -376px top;
	}
	
a.btn-installnow.installing {
	background-position: right top;
	}	

#spinner {
	display: none;
	position: absolute;
	margin-left: 177px;
	margin-top: 17px;
	width: 18px;
	height: 18px;
	background: transparent url(../images/spinner.gif) no-repeat top left;
	}

.container {
	width: 500px;
	padding-top: 71px;
	text-align: center;
	margin: 0 auto;
	}

/* PANEL STYLES */

.install-panel {
	width: 475px;
	margin: 16px auto 0 auto;
	}

.install-panel-top {
	width: 474px;
	height: 118px;
	background: transparent url(../images/install-panel-top.png) no-repeat left top;
	}

.install-panel-bottom {
	clear: left;
	width: 474px;
	height: 46px;
	background: transparent url(../images/install-panel-bottom.png) no-repeat left top;
	}

.install-panel-body {
	float: left;
	width: 414px;
	padding: 0 30px;
	background: transparent url(../images/install-panel-bg.png) repeat-y left top;
	}	
	
div.scroller { 	
	width: 375px;
	height: 355px;
	overflow: hidden;
	}
	
div.scroller div.section {	
	visibility: hidden;
	width: 375px;
	height: 355px;
	overflow: hidden;
	float: left;		
	}
	
div.scroller div.content {
	width: 10000px;
	}

/* FORM STYLES */

form {
	text-align: left;
	width: 374px;
	font-size: 12px;
	color: rgb(135,135,135);
	margin: 0 20px;
	}

form h1 {
	font-size: 12px;
	color: rgb(45,45,45);
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
	padding: 0;
	}

.form-holder {
	margin: 0 0 26px 0;
	}

.form-holder hr {
	background-color: #fff;
	margin: 10px 0;
	}
	
.form-light-holder {
	margin-bottom: 1px;
	padding: 13px 18px 12px 18px;
	background: rgb(229,229,229) url(../images/form-holder-bg.png) repeat-x right bottom;
	}

.form-light-holder:hover {
	background-color: rgb(240,240,240);
	}

.form-white-holder {
	margin-bottom: 1px;
	background-color: transparent;
	padding-top: 17px;
	}

.form-light-holder a {
	text-decoration: none;
	}

.field, input[type="text"], input[type="password"] {
	font-size: 12px;
	width: 100%;
	color: rgb(54,54,54);
	border: none;
	margin: 5px 0;
	padding: 4px 0;
	border: 1px solid rgb(223,223,223);
	}

.check-off, .check-on {
	background: transparent url(../images/check-off.png) no-repeat left top;
	padding: 3px 0 3px 56px;
	cursor: pointer;
	}
	
.check-on {
	background: transparent url(../images/check-on.png) no-repeat 4px top;
	}
	
.install-nav-btn {
	margin-top: 20px;
	}

/* ALERT STYLES */

#alert-holder {
	background: transparent url(../images/alert-bg.png) repeat-x left top;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 91px;
	z-index: 3000;
	float: left;
	}

#alert-holder em {
	font-weight: bold;
	}
	
#alert-warning {
	background: transparent url(../images/alert-warning.png) no-repeat left top;
	text-align: left;
	width: 1050px;
	height: 36px;
	padding-top: 35px;
	margin: 20px auto 0 auto;
	font-size: 12px;
	color: #fff;
	text-shadow: #333 0 0 0;
	}		
