<article>
	<hgroup>
		<h1>About</h1>
		<p class="byline"><time datetime="2012-11-29">by Devon Wells</time></p>
	</hgroup>
	<p class="lead">It’s about perseverance. Year after year, Magnus Rising keep answering the bell, unleashing guitar riffs and bass hooks that clench you in tight for a punch to the gut.</p>

	<img src="{{ theme:img src="photos/mr_history_010.jpg"}}" />

	<p>It’s been ten years since guitarist Roger Cranford took out a newspaper ad seeking other musicians to help him take up the reins. Ten years of road trips and midnight rehearsals was what was expected. From the very first session, vocalist Aaron Hawkins and bassist Matt Snow realized they had something real, something that felt right - something to fight for.</p>

	<img src="{{ theme:img src="photos/mr_history_020.jpg"}}" />

	<p>Magnus Rising have spent the past decade touring coast-to-coast, pushing their way through Canada with their heavy melodic sound. They’re not stopping now - this is no time to lay down.</p>
	
	<p>Fires destroyed their rehearsal space in 2004, devouring $20,000 of equipment. So what? They still recorded their self-titled EP within the year. That’s how you get things done.</p>
			
	<p>Although Magnus Rising is originally from St. John’s, Newfoundland, their appetite for more fans abroad eventually brought them to Vancouver, BC, where they keep pushing their limits. Moving 7,000 kilometres across the country? No problem. They released their first full-length album, <em>Counting the Numbers</em>, a year later, which established their presence as a force in the West Coast scene.</p>
	
	<img src="{{ theme:img src="photos/mr_history_023.jpg"}}" />
	
	<p>In Vancouver, they also found Nick James. The monster drummer who’s has not only given the group a rock on which to stand, but he has also rounded out that heavy sound that has has been in development over years. Something truly "Magnus".</p>
	
	<div class="vid"><iframe id="ytplayer" type="text/html"
	src="https://www.youtube.com/embed/Su0sJmkeiok?controls=0&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;vq=hd1080" frameborder="0" allowfullscreen></iframe></div>

	<p>Since then, Magnus Rising have soared, trekking back and forth across the country, always working to rock bigger crowds in more badass venues. In their western  home, they’ve opened for metal powerhouses Iced Earth and Forbidden and  Raven – bands who have showed them that time is irrelevant. Their dedication has paid off in droves building a  sound all their own. With a sense of purpose, layered with emotion and feel, Magnus Rising is at times reminiscent of an arm around your shoulder but more often than not it feels like a fist to the jaw.</p>
	
	<img src="{{ theme:img src="band-promo.png"}}" />
	
	<p>Fresh off their cross-Canada tour, Magnus Rising are getting ready to release their  upcoming full-length album; Whatever It Takes. It’s about making music on their own terms. They’ve written the notes, they’ve done their time, they even had a hand in building the studio (Grassy Knoll Studios.) Magnus Rising are no longer just contenders, they’re ready for the belt.</p>
	
</article>
