<article class="album">	
	<header>
		<h2>Whatever It Takes</h2>	
		<p>Released in 2013, this is the most recent full-length album. Songs from "Whatever It Takes" have been written and performed over the last 3 years.</p>
	</header>
	<a href="/assets/img/album/WhateverItTakes.jpg" target="_blank">
    <img src="/assets/img/album/WhateverItTakes.jpg" width="300" height="300">
  </a>
  <ol class="album-tracks">
		<li>
			<a href="http://soundcloud.com/magnus-rising/naive" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
			<span class="title">Naive</span>
		</li>
		<li>
		<a href="http://soundcloud.com/magnus-rising/whatever-it-takes" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>

		<span class="title">Whatever It Takes</span>
		</li>
		<li>
		<a href="http://soundcloud.com/magnus-rising/the-drill" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
		<span class="title">The Drill</span>
		</li>
		<li>
		<a href="http://soundcloud.com/magnus-rising/smoke-damage" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>

		<span class="title">Smoke Damage</span>
		</li>
		<li>
		<a href="http://soundcloud.com/magnus-rising/dinner-is-served" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>

		<span class="title">Dinner Is Served</span>
		</li>
		<li>
		<a href="http://soundcloud.com/magnus-rising/jaws-of-life" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>

		<span class="title">Jaws Of Life</span>
		</li>
		<li>
			<a href="http://soundcloud.com/magnus-rising/the-journeyman" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>

		<span class="title">The Journeyman</span>
		</li>
		<li>
		<a href="http://soundcloud.com/magnus-rising/frankensteins-monster" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>

		<span class="title">Frankenstein's Monster</span>
		</li>
		<li>
		<a href="http://soundcloud.com/magnus-rising/downtown-flu" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>

		<span class="title">Downtown Flu</span>
		</li>
		<li>
		<a href="http://soundcloud.com/magnus-rising/the-judge" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>

		<span class="title">The Judge</span>
		</li>
  </ol>
</article>
	
<article class="album">		
	<header>
		<h2>Counting the Numbers</h2>	
		<p>Released in 2008, Counting the Numbers was Magnus Rising’s first full length album. Features the tracklisting “Forgiveness”, “Business Man” and “Crisis”.</p>
	</header>
	
	<a href="/assets/img/album/CTN_cover.png" target="_blank">
		<img src="/assets/img/album/CTN_cover.png" width="300" height="300">
	</a>
  <ol class="tracklist">
		<li>
		
		<a href="http://soundcloud.com/magnus-rising/01-counting-the-numbers" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
		<span class="title">Counting the Numbers</span></li>
		<li>
		
		<a href="http://soundcloud.com/magnus-rising/02-forgiveness" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
		<span class="title">Forgiveness</span></li>
		<li>
		
		<a href="http://soundcloud.com/magnus-rising/03-reach" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
		<span class="title">Reach</span></li>
		<li>
		
		<a href="http://soundcloud.com/magnus-rising/04-business-man" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
		<span class="title">Business Man</span></li>
		<li>
		
		<a href="http://soundcloud.com/magnus-rising/05-crisis" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
		<span class="title">Crisis</span></li>
		<li>
		
		<a href="http://soundcloud.com/magnus-rising/06-shallow-end" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
		<span class="title">Shallow End</span></li>
		<li>
		
		<a href="http://soundcloud.com/magnus-rising/07-from-the-ashes" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
		<span class="title">From the Ashes</span></li>
		<li>
		
		<a href="http://soundcloud.com/magnus-rising/08-dissipating" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
		<span class="title">Dissipating</span></li>
		<li>
		
		<a href="http://soundcloud.com/magnus-rising/09-evidence-in-safety" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
		<span class="title">Evidence In Safety</span></li>
		<li>
		
		<a href="http://soundcloud.com/magnus-rising/10-slow-collapse" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
		<span class="title">Slow Collapse</span></li>
		<li>
		
		<a href="http://soundcloud.com/magnus-rising/11-portrait" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
		<span class="title">Portrait</span></li>

  </ol>

</article>
<article class="album">			
	<header>
		<h2>Magnus Rising</h2>	
		<p>Released in 2005, this was Magnus Rising’s first studio effort. The 6 song EP was independently produced and recorded live off the floor in St. John’s NL. Features the tracklisting “Levitate” , “Hang On”  and crowd favorite “Someone Died” .</p>
	</header>
	<a href="/assets/img/album/12422009.jpeg" target="_blank">
		<img src="/assets/img/album/12422009.jpeg" width="300" height="300">
	</a>
	<ol class="tracklist">
	<li>
	<a href="http://soundcloud.com/magnus-rising/levitate" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
	<span class="title">Levitate</span></li>
	<li>
	
	<a href="http://soundcloud.com/magnus-rising/blood-donation" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
	<span class="title">Blood Donation</span>
	</li>
	<li>
	<a href="http://soundcloud.com/magnus-rising/hang-on" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
	<span class="title">Hang On</span>
  </li>
	<li>
	
	<a href="http://soundcloud.com/magnus-rising/the-possession-of-saul-stones" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
	<span class="title">The Possession of Saul Stone</span></li>
	<li>
	
	<a href="http://soundcloud.com/magnus-rising/from-the-ashes-2005" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
	<span class="title">From the Ashes</span></li>
	<li>
	
	<a href="http://soundcloud.com/magnus-rising/from-the-ashes-2005" target="_blank"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#76191D" cx="8.027" cy="7.999" r="7.667"/><path d="M6.29 5.63a.38.38 0 00-.597.37v4.667a.38.38 0 00.596.368l4.808-2.404c.328-.164.328-.432 0-.596L6.29 5.631z" fill="#CCB7A6"/></g></svg></a>
	<span class="title">Someone Died</span></li>
	
	</ol>
	

</article>
