<h2>Upcoming shows</h2>
<ul class="tour-dates">
  <li>
    <span class="tour-date">May 31, 2013</span>
    <a href="https://www.facebook.com/events/550003558377393" class="tour-venue">Rickshaw Theatre, Vancouver BC</a>
    <p>CD Release with Titan's Eve, Over the Coals and Altered Throne, Doors at 7pm, Show at 8pm, Tickets $10. <a href="http://www.liveatrickshaw.com/buy-tickets/292/" target="_blank">Buy today</a> and receive several bonus items at the door! Stay tuned for more.</p>
    <span class="tour-tickets"><a href="http://www.liveatrickshaw.com/buy-tickets/292/" target="_blank" class="btn">Buy Tickets</a></span>
  </li>
</ul>

<h3>Past shows</h3>
<ul class="tour-dates">
  <li>
    <span class="tour-date">Apr 18, 2013</span>
    <a href="http://www.wssf.com/powder-rocket-stage" class="tour-venue">World Ski &amp; Snowboard Festival, Whistler, BC</a>
  </li>
  <li>
    <span class="tour-date">Apr 6, 2013</span>
    <span class="tour-venue">The Media Club, Vancouver, BC</span>
  </li>
  <li>
      <span class="tour-date">Aug 24, 2012</span>
      <span class="tour-venue">Distortion, St. John's, NL</span>
  </li>
  <li>
      <span class="tour-date">Aug 11, 2012</span>
      <span class="tour-venue">Pub Down Under, Saint John, NB</span>
  </li>
  <li>
      <span class="tour-date">Aug 4, 2012</span>
      <span class="tour-venue">Cavern, Winnipeg, MB</span>
  </li>
  <li>
      <span class="tour-date">Jul 31, 2012</span>
      <span class="tour-venue">Lepps, Saskatoon, SK</span>
  </li>      
  <li>
      <span class="tour-date">Jul 29, 2012</span>
      <span class="tour-venue">Lord Nelsons, Calgary, AB</span>
  </li>
  <li>
      <span class="tour-date">Jul 28, 2012</span>
      <span class="tour-venue">The Distillery, Calgary, AB</span>
  </li>    
</ul>
