{{include file="header.html"}}

		<!-- MIDDLE SECTION: Edit this to make changes to the area with the Company Image and Intro Text -->
		<div class="middle">
			
		</div>
		<!-- END MIDDLE SECTION -->

		<!-- Content-Holder DIV: This holds all the information contained in the lower portion of the website -->		
		<div class="content-holder">
		
			<div class="container">
				<div class="left">
				
					<!-- CONTENT: Edit this to make changes to the main content area from page to page -->
					<div class="content">
						<h1>404 Error</h1>
						Uh Oh! Nothing is here.
					</div>
					<!-- END CONTENT -->

				</div>
				<!-- END LEFT DIV -->
				
			</div>
			
		</div>
		<!-- END Content-Holder DIV -->

{{include file="footer.html"}}