{{include file="header.html"}}
			
			
			<!-- MIDDLE SECTION: Edit this to make changes to the area with the Company Image and Intro Text -->
			<div class="middle">
	
				<div class="container">

				</div>
				
			</div>
			<!-- END MIDDLE SECTION -->
			
			
			<!-- Content-Holder DIV: This holds all the information contained in the lower portion of the website -->		
			<div class="content-holder">
			
				<div class="container">
					<div class="left">
				
						<!-- SIDEBAR: Edit this to make changes to the information in the Sidebar -->	
						<div class="sidebar left fr_page_1">
							<div class="fr_text"></div>
						</div>
						<!-- END SIDEBAR -->
						
						
						<!-- CONTENT: Edit this to make changes to the main content area from page to page -->
						<div class="content">
							<h1>Our Team</h1>
							
							<div class="fr_data_team">
								<div class="team-item">
									<img src="" alt="" class="fr_photo" />
									<h3 class="fr_name"></h3>
									<p class="fr_bio"></p>
								</div>
							</div>					
	
						</div>
						<!-- END CONTENT -->
					
					</div>
					<!-- END LEFT DIV -->
					
				</div>
				
			</div>
			<!-- END Content-Holder DIV -->
			
			
{{include file="footer.html"}}