<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="description" content="This is a Firerift Template Website." />
		<meta name="author" content="Drew Wilson" />
		<meta name="copyright" content="Valio, Inc." />
		<title>FIRERIFT Template</title>
		<link rel="stylesheet" type="text/css" href="{{base_url}}css/main.css" />
<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" href="{{base_url}}css/ie.css" />
<![endif]-->			
		<script src="{{base_url}}js/jquery.js" type="text/javascript"></script>
		<script src="{{base_url}}js/jquery.firerift.js" type="text/javascript"></script>
		<script src="{{base_url}}js/index.js" type="text/javascript"></script>	
	</head>
	<body>
	
		<!-- HEADER: Edit this to make changes to the Logo and Navigation -->
		<div class="header">
		
			<div class="container">
				<h1 class="logo"><a href="{{base_url}}">Firerift</a></h1>
				
				<ul class="nav">
					<li class="nav-home"><a href="{{base_url}}">Home</a></li>
					<li class="nav-about"><a href="{{base_url}}about/">About</a></li>
					<li class="nav-blog"><a href="{{base_url}}blog/general/">Blog</a></li>
				</ul>
			</div>
			
		</div>
		<!-- END HEADER -->